.container-fluid {
	margin-top:40px;
}

.radio {
	margin-left: 20px;
}

.display-text {
	margin-right: 40px;
}

#age-start {
	margin-left: 20px;
	width:50px; !important
}

#age-end {
	width:50px; !important
}

.age-text {
	width:40px;
	margin-top: 7px;
	margin-left:10px;
	float: left;
	font-weight: bold;
}

#regdate-start, #regdate-end {
	margin-left: 20px;
	width:150px; !important
}

.regdate-text {
	width:3px;
	margin-top: 7px;
	margin-left:10px;
	float: left;
	font-weight: bold;
}

#orderdate-start, #orderdate-end {
	margin-left: 20px;
	width:150px; !important
}

.orderdate-text {
	width:3px;
	margin-top: 7px;
	margin-left:10px;
	float: left;
	font-weight: bold;
}

#buyprice-start, #buyprice-end {
	margin-left: 20px;
	width:150px; !important
}

.buyprice-text {
	width:3px;
	margin-top: 7px;
	margin-left:10px;
	float: left;
	font-weight: bold;
}

#buycount-start, #buycount-end {
	margin-left: 20px;
	width:80px; !important
}

.buycount-text {
	width:3px;
	margin-top: 7px;
	margin-left:10px;
	float: left;
	font-weight: bold;
}